@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cuerpo
{
    background-color: #dddbd1; /*AQUI HICE CAMBIOS*/
    font-family: sans-serif;
    font-size: 13pt;
}
header
{
    overflow: hidden;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #004454;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-between;
}
img
{
    margin: 0 auto;
    width:100%;
}
h4
{
    color:black;
}
p
{
    text-align: justify;
    color:black;   
}
#head-left
{
    float: left;
    line-height: 100px;
    padding: 1%;
    /*
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:40%;
    height:auto;*/
}
#head-left img
{
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
#head-right
{
    float: right;
    line-height: 100px;
    padding: 1%;
    /*
    float: right;
    margin:0.5%;
    width:53%;
    text-align: right;*/
}
#Column2
{
    margin-top: 3%;
}
#ContactoWha
{
    text-decoration: none;
    color:black;
    font-weight: bold;
    font-size: 20pt;
}
#ContactoWha:hover
{
    text-decoration: none;
    color:rgb(117, 97, 189);
}
.container
{
    margin-top: 2%;
}
.row
{
    margin-top: 5%;
    margin-bottom: 15%;
}
.list, .secondlist
{
    list-style: none;
}
.list > li
{
    float: left;    /*AQUI HICE CAMBIOS*/
}
.list li a
{
    display:block;
    padding:8px 5px 8px 5px;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    line-height: normal;
    -webkit-transition: all 500ms ease;    /*AQUI HICE CAMBIOS*/
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.list li a:hover
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
.list li ul
{
    display: none;
    position: absolute;
    float: left;
    padding: 0px;
    min-width: 140px; 
}
.list li:hover > ul
{
    display: block;
    text-align: left;
    background-color: #004454;  /*AQUI HICE CAMBIOS*/
    border-radius: 25px;
    z-index: 1000;
    line-height: normal;
}
.icono
{
    padding:3px;
}
header nav ul li .secondlist li             /*NUEVO CAMBIO*/
{ 
    overflow: hidden;
}
.imgContacto, #img2
{
    width:15%;
}
.text-center
{
    margin-top: 3%;
}
.footer1
{
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:61.5%;
}
.footer1 img
{
    width:6%;
    height: 3.5em;
    padding: 0.5%;
}
.footer2
{
    float: right;
    padding:0.5%;
    margin-right: 2.5%;
    width:31.5%;
    text-align: right;
}
.footer2 img
{
    width:15%;
    height: 7.5em;
    margin: 0 auto;
}
footer p
{
    color:white;
}
footer
{
    overflow: hidden;
    margin-top: 2%;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #004454;
    color: white;
    font-weight: bold;
}
@media screen and (max-width:480px)
{
#cuerpo
{
    font-size: 13pt;
}
span
{ 
    display: none;
}
.list
{
    display: inline-block;
}
.list li a
{
    padding:5px 15px 5px 15px;
    justify-content: space-around;
}
header
{
    display: block;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #004454;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-around;
    overflow: hidden;
}
#head-left
{
    float: none;
    margin-top: 5px;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:40%;
    height:auto;*/
}
#head-left img
{
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
#head-right
{
    float: none;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: right;
    margin:0.5%;
    width:53%;
    text-align: right;*/
}
#ContactoWha
{
    font-size: 17pt;
}
.list li a:active
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
footer
{
    overflow: hidden;
    margin-bottom: 0;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #004454;
    color: white;
    font-weight: bold;
}
.footer1
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer1 img
{
    width:10%;
    height: 3em;
    padding: 0.5%;
    margin: auto;
}
.footer2
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer2 img
{
    margin: auto;
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
}
@media screen and (min-width:481px) and (max-width:768px)
{
    #cuerpo
{
    font-size: 13pt;
}
span
{ 
    display: none;
}
.list
{
    display: inline-block;
}
.list li a
{
    padding:5px 15px 5px 15px;
    justify-content: space-around;
}
header
{
    display: block;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #004454;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-around;
    overflow: hidden;
}
#head-left
{
    float: none;
    margin-top: 5px;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:40%;
    height:auto;*/
}
#head-left img
{
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
#head-right
{
    float: none;
    margin-top: 8px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: right;
    margin:0.5%;
    width:53%;
    text-align: right;*/
}
#ContactoWha
{
    font-size: 18pt;
}
.list li a:active
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
footer
{
    overflow: hidden;
    margin-bottom: 0;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #004454;
    color: white;
    font-weight: bold;
}
.footer1
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer1 img
{
    width:8%;
    height: 3.2em;
    padding: 0.5%;
    margin: auto;
}
.footer2
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer2 img
{
    margin: auto;
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
}