@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cuerpo
{
    background-color: #e4e4e4; /*AQUI HICE CAMBIOS*/
    font-family: sans-serif;
    font-size: 13pt;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#giving
{
    font-size: 100pt;
}
header
{
    overflow: hidden;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #0f0083;
    color: white;
    border-bottom: 3px solid black;
    text-align: center;
}
img
{
    margin: 0 auto;
    width:100%;
}
#head-left img
{
    width:28%;
}
.list
{
    display: inline-block;
}
.list, #secondlist
{
    list-style: none;
}
.list > li
{
    float: left;    /*AQUI HICE CAMBIOS*/ 
}
.list li a
{
    display:block;
    padding:8px 15px 8px 15px;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    line-height: normal;
    -webkit-transition: all 500ms ease;    /*AQUI HICE CAMBIOS*/
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.list li a:hover
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
.list li ul
{
    display: none;
    position: absolute;
    float: left;
    padding: 0px;
    min-width: 140px; 
}
.icono
{
    padding:3px;
}
.list li:hover > ul
{
    display: block;
    text-align: left;
    background-color: #004454;  /*AQUI HICE CAMBIOS*/
    border-radius: 25px;
    z-index: 1000;
    line-height: normal;
}
header nav ul li .secondlist li             /*NUEVO CAMBIO*/
{ 
    overflow: hidden;
}
.container
{
    margin-top: 2%;
}
.row
{
    margin-top: 2%;
}
.text-center img
{
    width: 8%;
    margin: 0 auto;
}
.text-center
{
    text-align: justify;
}
.footer1
{
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:61.5%;
}
.footer1 p
{
    color:white;
}
.footer1 img
{
    width:5.5%;
    height: 2.5em;
    padding: 0.5%;
}
.footer2
{
    float: right;
    padding:0.5%;
    margin-right: 2.5%;
    width:31.5%;
    text-align: right;
}
.footer2 img
{
    width:60%;
    margin: 0 auto;
}
footer
{
    overflow: hidden;
    margin-top: auto;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #0f0083;
    color: white;
    font-weight: bold;
}
@media screen and (max-width:480px)
{
#cuerpo
{
    font-size: 13pt;
}
#head-left img
{
    width:60%;
}
#giving
{
    font-size: 75pt;
}
span
{ 
    display: none;
}
.list
{
    display: inline-block;
}
.list li a
{
    padding:5px 15px 5px 15px;
    justify-content: space-around;
}
header
{
    display: block;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #0f0083;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-around;
    overflow: hidden;
}
.list li a:active
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
footer
{
    overflow: hidden;
    margin-bottom: 0;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #0f0083;
    color: white;
    font-weight: bold;
}
.footer1
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: justify;
}
.footer1 p
{
    color:white;
}
.footer1 img
{
    width:7%;
    height: 2em;
    padding: 0.5%;
    margin: auto;
}
.footer2
{
    display: none;
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer2 img
{
    margin: auto;
    width:50%;
}
}
@media screen and (min-width:481px) and (max-width:768px)
{
    #cuerpo
{
    font-size: 13pt;
}
#head-left img
{
    width:50%;
}
span
{ 
    display: none;
}
.list
{
    display: inline-block;
}
.list li a
{
    padding:5px 15px 5px 15px;
    justify-content: space-around;
}
header
{
    display: block;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #0f0083;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-around;
    overflow: hidden;
}
.list li a:active
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
footer
{
    overflow: hidden;
    margin-bottom: 0;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #0f0083;
    color: white;
    font-weight: bold;
}
.footer1
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: justify;
}
.footer1 img
{
    width:6.5%;
    height: 2.5em;
    padding: 0.5%;
    margin: auto;
}
.footer2
{
    display: none;
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer2 img
{
    margin: auto;
    width: 50%;
}
}