@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz&display=swap');
*
{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#cuerpo
{
    background-color: #dddbd1; /*AQUI HICE CAMBIOS*/
    font-family: sans-serif;
    font-size: 13pt;
}
header
{
    overflow: hidden;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #004454;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-between;
}
img
{
    margin: 0 auto;
    width:100%;
}
h2
{
    padding: 1%;/*AQUI VAN CAMBIOS*/
    background-color: black;
    border-radius: 25px;
    text-align: center;
    color:gold;
}
h5
{
    color: red;
    font-weight: bold;
}
table, table td, table th
{
    margin:0 auto;
    border: 1px solid black;
    color: white;
}
table th
{
    padding: 0.5%;
    background-color: rgb(43, 161, 161);
}
table td
{
    padding: 0.5%;
    background-color: rgb(235, 235, 235);
    color:black;
}
#to-main
{
    border: 3px dotted black;
    vertical-align: middle;
}
#head-left
{
    float: left;
    line-height: 100px;
    padding: 1%;
    /*
    padding:0.5%;
    margin-left: 2.5%;
    width:40%;
    line-height: 120px;
    height:auto;*/
}
#head-left img
{
    /*
    width: 40%;
    padding: 5%;
    
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
#head-right
{
    float: right;
    line-height: 100px;
    padding: 1%;
    /*
    margin:0.5%;
    width:53%;
    line-height: 120px;
    text-align: right;*/
}
.inf
{
    padding-top: 20px;
}
.desplegable
{
    display: none;
}
.list, #secondlist
{
    list-style: none;
}
.list > li
{
    float: left;    /*AQUI HICE CAMBIOS*/
}
.list li a
{
    display:block;
    padding:8px 5px 8px 5px;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    font-size: 15pt;
    line-height: normal;
    -webkit-transition: all 500ms ease;    /*AQUI HICE CAMBIOS*/
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}
.list li a:hover
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
.list li ul
{
    display: none;
    position: absolute;
    float: left;
    padding: 0px;
    min-width: 140px; 
}
.list li:hover > ul
{
    display: block;
    text-align: left;
    background-color: #004454;  /*AQUI HICE CAMBIOS*/
    border-radius: 25px;
    z-index: 1000;
    line-height: normal;
}
.icono
{
    padding:3px;
}
header nav ul li .secondlist li             /*NUEVO CAMBIO*/
{ 
    overflow: hidden;
}
.container
{
    margin-top: 1%;
    overflow: hidden;
}
.row
{
    margin-top: 2%;
}
.principal0
{
    margin-top: 2%;
}
.text-center img
{
    width: 50%;
}
.carousel-inner img 
{
    width: 60%;
    height: 400px;
    border-radius: 5%;
}
.carousel-inner
{
    height: 400px;
}
.video
{
    margin:0 auto;
    width: 100%;
}
.footer1
{
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:61.5%;
}
.footer1 img
{
    width:6%;
    height: 3.5em;
    padding: 0.5%;
}
.footer2
{
    float: right;
    padding:0.5%;
    margin-right: 2.5%;
    width:31.5%;
    text-align: right;
}
.footer2 img
{
    width:15%;
    height: 7.5em;
    margin: 0 auto;
}
footer
{
    overflow: hidden;
    margin-top: 2%;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #004454;
    color: white;
    font-weight: bold;
}
@media screen and (max-width:480px)
{
#cuerpo
{
    font-size: 13pt;
}
#Column, #to-main
{
    margin-top: 5%;
}
h5
{
    display: none;
}
span
{
    display: none;
}
#to-main
{
    align-content: center;
    text-align: center;
    border: none;
}
.inf
{
    width: 15%;
    padding:1%;
}
.list
{
    display: inline-block;
}
.list li a
{
    padding:5px 15px 5px 15px;
    justify-content: space-around;
}
header
{
    display: block;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #004454;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-around;
    overflow: hidden;
}
#head-left
{
    float: none;
    margin-top: 5px;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:40%;
    height:auto;*/
}
#head-left img
{
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
#head-right
{
    float: none;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: right;
    margin:0.5%;
    width:53%;
    text-align: right;*/
}
.list li a:active
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
footer
{
    overflow: hidden;
    margin-bottom: 0;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #004454;
    color: white;
    font-weight: bold;
}
.footer1
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer1 img
{
    width:10%;
    height: 3em;
    padding: 0.5%;
    margin: auto;
}
.footer2
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer2 img
{
    margin: auto;
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
}
@media screen and (min-width:481px) and (max-width:768px)
{
#cuerpo
{
    font-size: 13pt;
}
#Column, #to-main
{
    margin-top: 5%;
}
h5
{
    display: none;
}
span
{
    display: none;
}
#to-main
{
    align-content: center;
    text-align: center;
    border: none;
}
.inf
{
    width: 18%;
    padding:1%;
}
.list
{
    display: inline-block;
}
.list li a
{
    padding:5px 15px 5px 15px;
    justify-content: space-around;
}
header
{
    display: block;   /*AQUI HICE CAMBIOS*/
    width: 100%;
    background-color: #004454;
    color: white;
    border-bottom: 3px solid black;
    justify-content: space-around;
    overflow: hidden;
}
#head-left
{
    float: none;
    margin-top: 5px;
    margin-top: 1%;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: left;
    padding:0.5%;
    margin-left: 2.5%;
    width:40%;
    height:auto;*/
}
#head-left img
{
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
#head-right
{
    float: none;
    margin-top: 5px;
    text-align: center;
    width: 100%;
    overflow: hidden;
    line-height: normal;
    /*
    float: right;
    margin:0.5%;
    width:53%;
    text-align: right;*/
}
.list li a:active
{
    text-decoration: none;
    background-color: #f56f3a;  /*AQUI HICE CAMBIOS*/
    border-radius: 50px;
}
footer
{
    overflow: hidden;
    margin-bottom: 0;
    justify-content: space-between; /*AQUI HICE CAMBIOS*/
    background-color: #004454;
    color: white;
    font-weight: bold;
}
.footer1
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer1 img
{
    width:10%;
    height: 3em;
    padding: 0.5%;
    margin: auto;
}
.footer2
{
    width: 100%;
    float: none;
    padding:0.5%;
    text-align: center;
}
.footer2 img
{
    margin: auto;
    /*
    width:15%;
    height: 7.5em;
    margin: 0 auto;*/
}
}

